
  .Wave1
  {
    position: fixed;
    height: 100%;
    left:0;
    bottom: 0;
    z-index: -1;
  }
  #img .animated
  {
    animation:up-down 2s ease-in-out infinite alternate-reverse both;
  
  }
  @-webkit-keyframes up-down{
  
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
  @keyframes up-down{
  
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
  
  .login-container
  {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    padding: 0 2rem;
  }
  .anker-image{
    width: 150px; 
    height:150px; 
    margin-top: -10px;
    margin-right: 30px;
  }
  .anker{
      font-size: 25pt;
      color: darkcyan;
 line-height: 70px;
    text-align: center;
   

  }
  .caccount:hover{
      box-shadow: 0px 50px 20px -8px rgba(0,0,0,0.1);
      transform: scale(1.10,1.10);
  }
 
  .caccount{
    width: 300px;
    height: 200px;
    margin: 1rem 0;
    margin-left: 30px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background:white;
    cursor: pointer;
    color: darkcyan;
  background-color: white;
  box-shadow: 5px 5px 15px -5px rgb(3,73,00)
  }
  .img1 img{
    width: 500px;
  
  }
  .img1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .login-form1{
    width: 360px;
  }
  .main-login-container
  {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .login-form1 h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
  
  }
  .inpput-div1
  {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
  }
  .inpput-div1:after .inpput-div1:before
  {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 0;
    height: 2px;
    background-color: darkcyan;
  
  }
  .inpput-div1:after
  {
    right: 50%;
  }
  .inpput-div1:before
  {
    left: 50%;
  }
  .inpput-div1.focus .i .per
  {
     color: darkcyan;
  }
  .inpput-div1.focus .i .loc
  {
     color: darkcyan;
  }
  .inpput-div1.one{
   margin-top: 0;
  }
  .inpput-div1.two
  {
    margin-bottom: 4px;
  }
  .inpput-div1.focus div h5
  {
    top:-10px;
    font-size: 15px;
  }
  .login-avtar
  {
    width: 150px;
  }
  
  .i
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .i .per
  {
    color: darkcyan;
  }
  .i .loc
  {
    color: darkcyan;
  }
  .inpput-div1 > div{
  
    position: relative;
    height: 45px;
  }
  .inpput-div1  >div h5
  {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    
    transition: .3s;
  }
  .input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
  
  }
  a 
  {
    display: block;
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 1.0rem;
  cursor: pointer;
    transition: .3s;
  }
  a:hover{
    color: darkcyan;
  }
  .btn-login
  {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: linear-gradient(to right,darkcyan,darkcyan,darkcyan);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
  }
  .tn
  {
    display: block;
    width: 60%;
    height: 50px;
    text-align: center;
    float: center;
    border-radius: 25px;
    margin: 1rem 0;
    margin-left: 80px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: linear-gradient(to right,#028b8b,#018b8b,#008b8b);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 100%;
    transition: .50s;
  }
  
  .btn:hover
  {
    background-position: right;
  }
  
  @media screen and (max-width:1050px)
  {
    .container{
      grid-gap: 5rem;
    }
  }
  @media screen and (max-width:1000px)
  {
    .login-form1{
      width: 290px;
    }
    .login-form1 h2
    {
      font-size: 2.4rem;
      margin: 8px 0;
    }
    .img img
    {
      width: 400px;
    }
  }
  @media screen and (max-width:900px)
  {
     .img1{
       display: none;
     }
     .login-container{
       grid-template-columns: 1fr;
     }
     .Wave
     {
       display: none;
     }
     .main-login-container{
       justify-content: center;
     }
  }