.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:white;
  margin-top: 30px;
}
.contact-container {
  position: relative;
  width: 1500px;
  max-width: 2000px;
  margin: 20px;
  height: 800px;
  background:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 9px 15px 4px gray ;
  
}
.contact-container .contact-formbox {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-formbox form {
  /* position: relative; */
  width: 100%;
  padding: 0 0 0 75px;
  margin-top: -100px;
}

.contact-title {
  color: darkcyan;
  font-weight: 1000;
  font-size: 5rem;
  font-family: "DIN";
  letter-spacing: -0px;
  margin-bottom: 10px;
}
.contact-text {
  color: black;
  font-weight: 1000;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 60px;
  font-family:'Times New Roman', Times, serif
  
}

#contact-butn {
  width: 200px;
  height: 50px;
  background-color: darkcyan;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
#contact-butn:hover{
  width:170px;
  height:45px;
  font-size: 18px;
  color:black
}
.contact-container
  .contact-formbox
  form
  .contact-inputbox
  input[type="submit"]:focus {
  background: #1bfaad;
  color: #111;
}
.contact-container .contact-formbox form .contact-inputbox span {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

.contact-container .contact-img {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.contact-container .contact-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkcyan;
  transform-origin: bottom;
  transform: skewX(-25deg) translateX(10%);
}
.contact-container .contact-img img {
  position: absolute;
  bottom: 0;
  max-height: 95%;
}
@media (max-width: 300px) {
  .contact-container .contact-formbox {
    width: 100%;
    padding: 0 50px;
  }
  .contact-container .contact-formbox form {
    width: 100%;
    max-width: 500px;
    padding: 0;
  }
  .contact-container .contact-img {
    /* display: none; */
    height: auto;
    width: auto;
  }
}
