.contact-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:white;
    margin-top: 100px;
    }
    .contact-container{
    position: relative;
    width: 1500px;
    max-width: 2000px;
    margin: 20px;
    height: 700px;
    background:rgb(255, 249, 233);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .contact-container .contact-formbox{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .contact-container .contact-formbox form{
    /* position: relative; */
    width: 100%;
    padding: 0 0 0 75px;
    margin-top: -100px;
    }
    
    .contact-title
    {
    color:darkcyan;
    font-weight: 1000;
    font-size: 4rem;
   font-family: 'DIN';
    letter-spacing: -0px;
    margin-bottom: 10px;
    }
    .contact-text
    {
    color:darkcyan;
    font-weight: 550;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 60px;
    font-family: 'DIN';
    }

    #contact-butn{
        width:170px;
        height:40px;
        background-color: darkcyan;
        font-size:16px;
        font-weight:530;
       
       
    }
   
    /* .contact-butn:focus{
        background: #1bfaad;
        color: #111;
        
    } */
    /* .contact-container .contact-formbox form .contact-inputbox{
    position: relative;
    margin-bottom: 40px;
    } */
    
    /* .contact-container .contact-formbox form .contact-inputbox:last-child
    {
    margin-bottom: 0px;
    } */
/*     
    .contact-container .contact-formbox form .contact-inputbox input,
    .contact-container .contact-formbox form .contact-inputbox textarea{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    resize: none;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    }
    .contact-container .contact-formbox form .contact-inputbox textarea{
    height: 100px;
    }
    .contact-container .contact-formbox form .contact-inputbox input[type="submit"]
    {
    background: #fff;
    padding: 8px 20px;
    margin-top: -10px;
    width: 150px;
    cursor: pointer;
    background: #ff5064;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    } */
    .contact-container .contact-formbox form .contact-inputbox input[type="submit"]:focus{
    background: #1bfaad;
    color: #111;
    
    }
    .contact-container .contact-formbox form .contact-inputbox span{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s;
    }
    /* .contact-container .contact-formbox form .contact-inputbox input:focus ~ span,
    .contact-container .contact-formbox form .contact-inputbox textarea:focus ~ span,
    .contact-container .contact-formbox form .contact-inputbox input:valid ~ span,
    .contact-container .contact-formbox form .contact-inputbox textarea:valid ~ span{
    transform: translateY(24px);
    color: #1bfaad;
    font-size: 14px; */

    /* }
    .contact-container .contact-formbox form .contact-inputbox input:focus,
    .contact-container .contact-formbox form .contact-inputbox textarea:focus,
    .contact-container .contact-formbox form .contact-inputbox input:valid,
    .contact-container .contact-formbox form .contact-inputbox textarea:valid
    {
    border-bottom-color: #fff;
    } */
    .contact-container .contact-img{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    }
    .contact-container .contact-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkcyan;
    transform-origin: bottom;
    transform: skewX(-25deg) translateX(10%);
    }
    .contact-container .contact-img img{
    position: absolute;
    bottom: 0;
    max-height: 95%;
    }
    @media(max-width:300px)
    {
    .contact-container .contact-formbox{
    width: 100%;
    padding: 0 50px;
    }
    .contact-container .contact-formbox form{
    width: 100%;
    max-width: 500px;
    padding: 0;
    }
    .contact-container .contact-img{
    /* display: none; */
    height:auto;
    width: auto;
    }
    }