* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header1 {
  height: 70px;
  width: 1000px;
  margin: -17px;
  color: rgb(8, 8, 8);
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 3px;
  font-size: 20px;
}
.header1 h4 {
  margin-left: 20px;
}
.input {
  margin: 300px;
  justify-content: right;
  align-items: center;
  display: flex;
}

.header2 {
  height: 57px;
  width: 1000px;
  margin: -17px;
  margin-top: 15px;
  color: rgb(8, 8, 8);
  background-color: rgb(207, 147, 147);
}

.page {
  margin: 20px auto;
  margin-bottom: 50px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: whitesmoke;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.page:hover {
  box-shadow: 50px 50px 20px -8px rgba(226, 216, 216, 0.1);
  transform: scale(1.05, 1.05);
}
.comdata {
  margin: 15px auto;
  margin-bottom: 100px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: whitesmoke;
  width: 1000px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
#outlined-basic {
  width: 170px;
  height: 2px;
  display: block;
  justify-content: space-between;
}
.NDFound {
  text-align: center;
  margin-top: 30px;
}

.btn {
  padding-top: 100px;
  padding-left: 183px;
  margin-top: -20px;
}
btn1 {
  font-size: 20px;
  background-color: red;
}

.Main_box {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 15px auto;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(65, 109, 109);

}
.step1 {
  margin: 15px auto;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  /* background-color: whitesmoke; */
  width: 900px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.Add {
  margin: 20px;
  width: 30px;

}
.step2 {
  margin: 15px auto;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color:rgb(250, 252, 252);
  width: 900px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.step2 .h4 {
  margin-top: 50px;
  margin-left: 50px;
}
.material-person-icon {
  font-size: 22px;
  margin-top: 12px;
  color: gray;
}

.textFieldP {
  height: 20px;
}

.d-flex {
  display: flex;
}

.mt-3 {
  margin-top: 30px;
}
.Step4_Dropdown{
  margin-left: 60px;
  width: 50px;
  box-shadow: 10px 13px 10px -7px rgba(0, 0, 0, 0.1);
  background-color: rgb(234, 234, 240);
}
.Step4_Dropdown1{
  width: 50px;
  background-color: rgb(234, 234, 240);

}
#Step4_table{
  font-size: 15px;
  font-weight: bold;

}
#Step4_heading{
  border: 1px solid black;
  border-radius: 4px;
}
#btn_color{
  background-color: darkcyan;
  font-weight: bold;
}
#stepper_css{
  color: black;
  background-color: darkcyan;
}