* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.detail-data {
  position: absolute;
  margin: 15px auto;
  margin-bottom: 100px;
  margin-left: 450px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: whitesmoke;
  width: 1000px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.detail-header1 {
  height: 70px;
  width: 1000px;
  margin: -17px;
  color: rgb(8, 8, 8);
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 3px;
  font-size: 20px;
}

.detail-header1 h5 {
  margin-left: 20px;
}
.detail-input {
  margin: 350px;
  justify-content: right;
  align-items: center;
  display: flex;

}

.detail-header2 {
  height: 57px;
  width: 1000px;
  margin: -17px;
  margin-top: 15px;

}

.page {
  margin: 20px auto;
  margin-bottom: 50px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: whitesmoke;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.page:hover {
  box-shadow: 50px 50px 20px -8px rgba(226, 216, 216, 0.1);
  transform: scale(1.05, 1.05);
}
.detail-data {
  /* position: absolute; */
  margin: 15px auto;
  margin-bottom: 100px;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: whitesmoke;
  width: 1000px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
#outlined-basic {
  width: 170px;
  height: 2px;
  display: block;
  justify-content: space-between;
  text-align: center;
 
}
.detail-found-data {
  text-align: center;
  margin-top: 30px;
}

#create-btn {
  margin-top: 110px;
  margin-bottom: -20px;
  margin-left: 300px;
  font-weight: bold;
  color: white;
}

.interview-Mainbox {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 15px auto;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 3px;
}

.step1,
.step3,
.step4 {
  margin: 15px auto;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  /* background-color: rgb(209, 245, 245); */
  background-color: rgb(250, 252, 252);
  /* background-color: whitesmoke; */
  width: 900px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.step1-Add,
.step2-Add,
.step3-Add {
  margin: 20px;
  width: 30px;
}
.step2 {
  margin: 15px auto;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: rgb(250, 252, 252);
  width: 900px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.step2 .h4 {
  margin-top: 50px;
  margin-left: 50px;
}
.step2-material-person-icon {
  font-size: 22px;
  margin-top: 12px;
  color: gray;
}

.textFieldP {
  height: 20px;
}

.d-flex {
  display: flex;
}

.step2-mt-3 {
  margin-top: 30px;
}
.Step4_Dropdown {
  margin-left: 60px;
  width: 50px;
  box-shadow: 10px 13px 10px -7px rgba(0, 0, 0, 0.1);
  background-color: rgb(234, 234, 240);
}
.Step4_Dropdown1 {
  width: 50px;
  background-color: rgb(234, 234, 240);
}
#Step4_table {
  font-size: 17px;
  font-weight: bold;
  color:darkcyan;
}
#Step4_heading {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 30px;
  background-color: white;
}
#btn_color {
  background-color: darkcyan;
  font-weight: bold;
}
#stepper_css {
  color: black;
  background-color: white;
}
#stepper_font {
  font-size: 20px;
  color: black;
}
#Delete_dailog{
  width: 900px;
  height: 400px;
  justify-content: center;
  
  border: 1px solid black;
  border-radius: 4px;

}
/* .Step1_Input_box{
  height: auto;
  width:150px;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: rgb(197, 196, 196);
} */
/* .Step1_Input_box #icon{
  justify-content: left;
  margin-left: 20px;
  color:black;

}
.Step1_Input_box #icon_close{
  
  margin-left:30px;
  color:black;

} */
#Chip_box {
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

/* tree view data css */


/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.openbox{

  width: 1000px;
  height: auto;
  position:absolute;
  background:#eef5f6;
  font-size: 15px;


 
}
.grid-src .line{
  border-top: 2px solid #999;
}
.line{
 
    border: 0;
    width:850px;
}
#tablefont{
  font-size: 20px;
}
#name{
 text-align: left;
 font-size: 12pt;
 color:black;
 font-family: "Helvetica";
 font-weight: 400;
 



}
#inicon{
  color: darkcyan;
  font-size: 35px;
  cursor: pointer;
  margin: -10px 0px;
  margin-left: 70px;

}
#question-box{
  text-align: right;
 color:black;
 font-size: 12pt;
}
#candidate-inline-css{
  text-align: left;
 color:black;
 font-size: 12pt;

}
#panel-inline-css{
  text-align: right;
 color:black;
 font-size: 12pt;
}
#candidate-css{
  color:darkcyan;
  font-size: 12pt;
  font-weight: 700;
 

  /* margin-left: 55px; */
}
#panel-css{
  color:darkcyan;
  text-align: center;
  font-size: 12pt;
  font-weight: 700;
  
  /* margin-left: 55px; */
}
#headercss{
  font-family: "Helvetica";
  color: #000;
  font-size: 13pt;
 margin: 20px 0px;
   box-sizing: content-box;
   width: 200px;
   text-align: inherit;
   vertical-align: bottom;
 padding: 8px 28px;
  background-repeat: no-repeat;
  background-position:center;
  display: table-cell; 
  font-weight: bold;
 
  background-color: rgb(245, 202, 92);
}
#tablerow{
  font-family: "Helvetica";
  color: #000;
  font-size: 13pt;
   width: 200px;
  font-weight: bold;

  text-align: justify;

}

/* .arrowchange-down::before {
  transform: rotate(90deg);
} */

/* //new demo css */
.demo{
height:auto;
width: auto;

}

/* VIEWRECORDCSSS */

.view-data {
  position: absolute;
  margin: 15px auto;
  margin-bottom: 100px;
  margin-left: 300px;
  margin-top: 158px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: whitesmoke;
  width: 1000px;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.view-header1 {
  
  height: 80px;
  width: 1400px;
  margin: -17px;
  color: rgb(8, 8, 8);
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 3px;
  font-size: 20px;
}
.view-header1 h5 {
  margin-left: 40px;
  font-size: 25pt;
  color: white;
}

.view-header2 {
  height: 57px;
  width: 1399px;
  margin: -17px;
  margin-left: 299px;
  margin-top: 236px;
  color: rgb(8, 8, 8);
  background-color: rgb(245, 202, 92);
}
.view-header3 {
  height: 230px;
  width: 1399px;
 
  margin-left: 299px;
  margin-top: 16px;
  color: rgb(102, 94, 94);
 
}
.view-pic {
  height: 150px;
  width: 1399px;
 
  margin-left: 299px;
  margin-top: 20px;
  color: rgb(102, 94, 94);
  background-color:#dee2e6;
}
#view-header4 {
  height: 95px;
  width: 1399px;
  margin: -17px;
  margin-left: 0px;
  margin-top: -210px;
 
  
}
.main_view{
  margin-top: -37px;
}
#view-header4:nth-child(odd){
  background:#f5f5f5;}

  #view-header4:nth-child(even){
  background:#dee2e6;}

  .column {
    float: left;
    width: 15%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .interview_card1{
    margin: 20px auto;
    margin-bottom: 150px;
    margin-top:0px;
    /* padding: 15px 5px 10px 15px; */
    float: center;
    width:auto;
    /* width:auto; */
    /* height: 1050px; */
    padding: 15px 8px;
    background:#eef5f6;
    
    height: auto;

    /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
 }

  #view_css{
    padding: 2px 69px;
  }

  #edit_btn{
    background-color:darkcyan;
    color:white;
    width:40px;
    height:35px;
    border-radius:6px;
   border-color: darkcyan;
   position: relative;
  }
  #delete_btn{
    background-color:#f8384b;
    color:white;
    width:40px;
    height:35px;
    border-radius:6px;
   border-color: #dc3545;
   margin-left: 4px;
   position: relative;
  }