/* button {
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;
  }
  
  button:last-of-type {
    margin: 0;
  }
  
  p.borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
  }
  
  video {
    vertical-align: top;
    --width: 25vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
  }
  
  video:last-of-type {
    margin: 0 0 20px 0;
  }
  
  video#gumVideo {
    margin: 0 20px 20px 0;
  } */
  /* startint */
  
.start-header{
  margin-top: -8px;
   height: 80px;
   width: 1536px;
    background-color: #008b8b;
}
.logo{
  height: 90%;
  box-shadow: none;
  margin-top: 5px;
  font-size: 24px;
  float: left;
  margin-left: 190px;
}
.img_h{
  background-color: lightgray;
  width: 492px;
  border:15px solid darkcyan;
  border-radius: 25px 25px 0px 0px;
  height: 300px;
}
#start_grid{
  margin-top: 70px;
  margin-left: 70px;
}
#start1_grid{
  margin-top: 30px;
  margin-left: 180px;
  margin-right: 120px;
}
  /* go page */
  .go-header{
    margin-top: -8px;
   height: 80px;
   width: 1536px;
    background-color: #008b8b;
  }
  #go_grid{
    margin-top: 90px;
    margin-left: 200px;
    color: black;
  }
  #go1_grid{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 120px;
  }
  #go_grid h1{
    font-size: 40px;
    margin-left: 65px;
  }
  #go_grid h3{
    font-size: 20pt;
    color: black;
    letter-spacing: -0.02px;
  }
  /* main page */
  .main_div{
    
      background-color: white;
      width: 650px;
      height:450px;
      border-radius: 2%;
      border: 5px solid darkcyan;
      margin-top: 10px;
      margin-left: 450px;
     position: relative;
    }
    .main1_div{
      text-align: center;
      margin-top: 10px;
      font-size: 30px;

    }
    .main2_div{
      /* margin-top: 210px; */
           /* border: 2px solid black; */
    }
.practise_head{
  height: 57px;
  width: 1050px;
  margin-top: 90px;
  overflow: hidden;
  background-color:lightgray;
  text-align: center;
  margin-left: 240px;
}
.practise_title{
  font-size: 28px;
  font-family: sans-serif;
  line-height: 50px;
 

}
.practise_video{
  height: 400px;
  width: 700px;
  position: center;
  margin-top: 50px;
  margin-left: 400px;
}

#practise_butn{
  margin-left:400px ;
  height: 50px;
  width: 180px;
  

}
.tips_text{
  margin-top: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color:rgb(59, 57, 57);
}
/* #tips_butn1{
margin-top: 60px;
  margin-left: 700px;
  height: 50px;
  width: 180px;

} */
#tips_butn2{
  margin-top: 60px;
    margin-left: 900px;
    height: 50px;
    width: 180px;
  background-color: darkcyan;
  
  }
  #tips_butn2:hover{
    background-color:rgb(243, 46, 46);
   
  }
