


.navbar-logo{
  height: 90%;
  margin-top: 5px;
  font-size: 24px;
  float: left;
  margin-left: 50px;
}

.navbar {
  margin-top: 20px;
  overflow: hidden;
  background-color: #008b8b;
  height:105px;
 
}

.navbar .a {
  float: right;
 
  margin-right: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top:20px;
  color: black;
  font-family: "DIN";
  font-weight: 400;
  font-size: 19pt;

  

 
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-top:20px;

  
}

.dropdown .dropbtn {

  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: "DIN";
  font-weight: 400;
  font-size: 19pt;
  
   
}

.navbar .a:hover, .dropdown:hover .dropbtn {
border-bottom:1.5px solid black;
;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#008b8b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
   background-color:#008b8b;
   margin-top:0px;
   margin-right: 0px;
   font-size: 21px;
}



.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .a:hover {

background-color:#494c4f;
/* color: #008b8b; */
}
