.in-navbar{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background:darkcyan;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  box-sizing: border-box;
}
.in-navbar .in-navbar-logo{
  height: 120%;
  margin-top: -10px;
  font-size: 24px;
  float: left;
}
.in-navbar nav{
  float: right;
}
.in-navbar nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.in-navbar nav ul li{
  list-style: none;
  
}
.in-navbar nav ul li .a{
  height: 50px;
  line-height: 90px;
  padding: 0 20px;
  color:black;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 10pt;
  text-decoration: none;

}
.in-navbar nav ul li .a:hover,
.in-navbar nav ul li .a.active{
  
  border-bottom: 2px solid black;
  transition: 0.5s;
}
.in-navbar nav ul li:hover ul{
  display: block;
}
.in-navbar nav ul li ul{
  position: absolute;
 float: right;
  height: 125 px;
  top: 70px;
  background:darkcyan;
  color:black;
 
  display: none;
}
.in-navbar nav ul li ul li .a{
 
  justify-content: space-between;
  align-items: center;
  line-height: 35px;
  list-style: none;
  text-align: -webkit-match-parent;
  
}
.in-navbar nav ul li ul li .a:hover{
  background:cadetblue;
}

.in-navbar nav ul li.sub-menu:before{
  position: absolute;
  content: '';
}
.in-navbar nav ul li ul li{
  display: block;
  width: 200px;
}
.in-navbar nav ul li .a{
  line-height: 50px;
  height: 50px;
  margin-top: 20px;
  padding: 0 20px;

  font-size: 20px;
  text-decoration: none;
  display: block;
}
.icon{
  color: black;
  float: right;
  display: none;
  line-height: 50px;
  cursor: pointer;
  font-size: 25px;
}
@media(max-width:991px)
{
  .in-navbar{
    padding: 0 20px;
  }
  .icon{
    display: block;
   margin-top: 12px;
  }
  .in-navbar nav{
    
    position: absolute;
    width: 100%;
    height: auto;
    
    background: rosybrown;
    top: 90px;
    left: -100%;
    transition: 0.5s;
  }
  .in-navbar nav.active{
    left: 0%;
  }
  .in-navbar nav ul{
    display: block;
    text-align: center;
  }
  .in-navbar nav ul li a{
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  .in-navbar nav ul li.active ul{
    position: relative;
    background: cornflowerblue;
  }
  .in-navbar nav ul li ul li{
    width: 100%;
  }
}